.App {
  text-align: center;
}

body{
  text-align: center;
  align-items: center;
}

.hobby{
  background-color: #F68F8C;
  width: 660px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 15px;
  margin: 10px;
}

